@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    list-style: none;
    word-wrap: break-word;
    outline: 0;
    box-sizing: border-box
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #efeeee
}

::-webkit-scrollbar-track {
    border-radius: .625rem
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 0
}

::-webkit-scrollbar-thumb:hover {
    background: #ddd
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(Roboto), local(Roboto-Regular), url(fonts/roboto/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format("woff2");
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(Roboto), local(Roboto-Regular), url(fonts/roboto/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format("woff2");
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(Roboto), local(Roboto-Regular), url(fonts/roboto/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format("woff2");
    unicode-range: U+1F00-1FFF
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(Roboto), local(Roboto-Regular), url(fonts/roboto/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format("woff2");
    unicode-range: U+0370-03FF
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(Roboto), local(Roboto-Regular), url(fonts/roboto/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format("woff2");
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(Roboto), local(Roboto-Regular), url(fonts/roboto/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format("woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(Roboto), local(Roboto-Regular), url(fonts/roboto/KFOmCnqEu92Fr1Mu4mxK.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

html,
body {
    background: #E8EAED;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.5294717647;
    font-weight: 400;
    letter-spacing: .021em;
    color: #333;
    font-style: normal height:100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    transition: all .5s ease 0
}

body,
input,
textarea,
select,
button {
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    direction: ltr;
    text-align: left
}

html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
a,
abbr,
acronym,
big,
cite,
code,
del,
dfn,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
dl,
dt,
dd,
fieldset,
form,
label,
legend {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline
}

:focus {
    outline: 0
}

ol,
ul {
    list-style: none;
    padding: 0;
    margin: 0
}

ul li {
    color: #1d1d1d
}

table {
    border-collapse: collapse
}

pre,
code,
address,
caption,
th,
figcaption {
    font-size: 1rem;
    font-weight: normal;
    font-style: normal
}

fieldset,
iframe,
img {
    border: 0
}

img {
    max-width: 100%;
    height: auto;
    -webkit-transition-duration: .3s;
    transition-duration: .3s
}

caption,
th {
    text-align: left
}

audio,
canvas,
video,
progress {
    display: inline-block;
    vertical-align: baseline
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: ""
}

blockquote,
q {
    quotes: """"
}

a {
    color: #0070c9
}

a:link,
a:visited {
    text-decoration: none
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none
}

p + a {
    display: inline-block
}

:focus {
    outline: 3px solid #c1e0fe;
    outline: 3px solid rgba(131, 192, 253, 0.5);
    outline-offset: 1px
}

:focus[data-focus-method="mouse"]:not(input):not(textarea):not(select),
:focus[data-focus-method="touch"]:not(input):not(textarea):not(select) {
    outline: 0
}

::-moz-focus-inner {
    border: 0;
    padding: 0
}

p {
    color: #1d1d1d;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    letter-spacing: .021em
}

p + p {
    margin-bottom: .625rem
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    line-height: 1.3;
    display: block;
    color: #1d1d1d
}

h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
    margin-top: .625rem;
    margin-bottom: .625rem
}

a,
a:hover,
.btn,
.btn:hover {
    transition: all .3s ease 0
}

.table {
    background-color: #fff
}

.table thead th {
    font-weight: 500;
    font-size: 1rem;
    padding: 1.625rem;
    border: 1px solid #fff;
    background-color: #1a1c29;
    color: #fff;
    vertical-align: top
}

.table td {
    font-size: 14px;
    padding: .625rem;
    color: #333;
    border: 1px solid #ddd;
    font-weight: 500
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #edeef2
}

.pos-rel {
    position: relative
}

.z-indx {
    z-index: 1
}
/*text*/
.txt-orange{
    color: #d07a01;
}
.txt-orange{
    color: #732d6d;
}
.b-t{
    border-top: 5px solid orange;
}

/*animation*/
.clip-box {
    overflow: hidden;
}
.slide-up {
    display: inline-block;
    opacity: 0;
    -webkit-transform: translateY(105%) translateZ(0);
    transform: translateY(105%) translateZ(0);
    transition: opacity .4s cubic-bezier(.165,.84,.44,1),-webkit-transform 0s cubic-bezier(.165,.84,.44,1) .4s;
    transition: opacity .4s cubic-bezier(.165,.84,.44,1),transform 0s cubic-bezier(.165,.84,.44,1) .4s;
    transition: opacity .4s cubic-bezier(.165,.84,.44,1),transform 0s cubic-bezier(.165,.84,.44,1) .4s,-webkit-transform 0s cubic-bezier(.165,.84,.44,1) .4s;
}

.slide-up_show {
  transform: translateZ(0);
  opacity: 1;
    transition: -webkit-transform .8s cubic-bezier(.165,.84,.44,1) .1s;
    transition: transform .8s cubic-bezier(.165,.84,.44,1) .1s;
    transition: transform .8s cubic-bezier(.165,.84,.44,1) .1s,-webkit-transform .8s cubic-bezier(.165,.84,.44,1) .1s;
}


.clip_animation{
    animation: clip_circle 0.4s cubic-bezier(0.215, 0.610, 0.355, 1.000) both
}

@keyframes clip_circle {
    0% {
        transform: scale3d(0.1, 0.1, 1);
        backface-visibility: hidden;
        perspective: 1000px;
        transition: transform .55s cubic-bezier(0, 0.84, 0, 0.98) 0;
        clip-path: circle(0px at center)
    }

    100% {
        transform: scale3d(1, 1, 1);
        backface-visibility: hidden;
        perspective: 1000px;
        transition: transform .55s cubic-bezier(0, 0.84, 0, 0.98) 0;
        clip-path: circle(300px at center)
    }
}


.is-page-ready .is-appear .c-home-line-inner {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
/*bg*/
.bg-gradient-info {
    background: #1ebccd;
    background: linear-gradient(45deg, #1ebccd, #3a55b1) !important;
    background: -webkit-bg-linear-gradient(45deg, #1ebccd, #3a55b1) !important;
}
.bg-gradient-success {
    background: #22af47;
    background: linear-gradient(45deg, #22af47, #d0d962) !important;
    background: -webkit-bg-linear-gradient(45deg, #22af47, #d0d962) !important;
}
.bg-gradient-warning {
    background: #ffbf36;
    background: linear-gradient(45deg, #ffbf36, #ff6028) !important;
    background: -webkit-bg-linear-gradient(45deg, #ffbf36, #ff6028) !important;
}
.bg-gradient-danger {
    background: #f83f37;
    background: linear-gradient(45deg, #f83f37, #ab26aa) !important;
    background: -webkit-bg-linear-gradient(45deg, #f83f37, #ab26aa) !important;
}

.under-line, .under-line-w {
    position: relative;
}

.under-line:before, .under-line-w:before {
    content: "";
    position: absolute;
    width: 30%;
    height: 1px;
    bottom: -7px;
    left: 0;
    border-bottom: 2px solid #0c1d72;
}
.under-line-w:before {
    border-bottom: 2px solid #fff;
}

/*button*/

.btn-animate {
    min-width: 12.75rem;
    padding: .688rem;
    font-size: .875rem;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: .14em;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    border: 0;
    display: inline-block;
    position: relative;
    border-radius: 50px;
}
.btn {
    font-size: 14px;
    font-weight: 500;
    padding: 8px 30px;
    border-radius: 5px;
    display: inline-block;
    border-radius: 50px;
     transition: all 0.3s ease-in;
}
.btn-iconed {
    transition: .15s ease-in-out;
    padding-left: 1.5rem;
    padding-right: 1.3rem
}

.btn-iconed [class~=oi],
.btn-iconed [class~=fa],
.btn-iconed [class~=typcn]::before,
.btn-iconed [class~=mdi]::before,
.btn-iconed [class~=icon]::before {
    opacity: 0;
    -webkit-transform-origin: right left;
    transform-origin: right left;
    -webkit-transform: translateX(10px) scale(1.25);
    transform: translateX(10px) scale(1.25);
    transition: .15s ease-out
}

.btn-iconed [class=spn] {
    position: relative;
    left: 9px;
    -webkit-transform-origin: right left;
    transform-origin: right left;
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
    transition: .20s ease-in-out
}

.btn-iconed:hover [class~=oi],
.btn-iconed:hover [class~=fa],
.btn-iconed:hover [class~=mdi]::before,
.btn-iconed:hover [class~=icon]::before,
.btn-iconed:hover [class~="typcn"]::before {
    opacity: 1;
    -webkit-transform: translateX(0) scale(0.75);
    transform: translateX(0) scale(0.75)
}

.btn-iconed:hover [class~=spn] {
    left: 0;
    transform: translateX(-9px)
}

.btn-theme {
    background-color: #69c;
    border: none;
    border: none;
    color: #fff;
    transition: 0.3s;
    font-weight: 400;
}

.btn-theme:hover {
    background-color:#00376d;
    transition: 0.3s;
    color: #fff;
}

.btn-purple {
    background-color: #541e90;
    border: none;
    color: #fff;
    transition: 0.3s;
    font-weight: 400;
}

.btn-purple:hover {
    color: #fff;
    background-color: #24004c;
    transition: 0.3s;
}

.btn-sm {
    padding: .25rem .5rem !important;
    font-size: .875rem !important;
    line-height: 1.5 !important;
    border-radius: .2rem !important;
}
.btn .ion{
    background-color:transparent;
    padding: 5px;
    color: #fff;
    border-radius: 50%;
    transition: all 0.3s ease-in;
}
.btn:hover .ion{
    background-color: rgba(255,255,255,0.5);
    transition: all 0.3s ease-in;
}

/*input*/
#password-error, #email-error, #username-error, #phone_number-error,
#oldPassword-error,#newpassword-error,#confirmPassword-error{
    position: absolute;
    top: 0.8rem;
    right: 2rem;
    font-size: 0.8rem;
}

label {
    font-size: 1rem;
    font-weight: 400
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="password"],
input.form-control,
select,
textarea.form-control {
    /*display: block;
    width: 100%;
    height: 2.5rem;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d2d2d2;
    border-radius: 50px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)*/
    color: #324148;
    border-width: 2px;
    border-color: #e0e3e4;
    padding: .375rem .75rem;
    height: calc(2.25rem + 4px);

}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
input.form-contron:focus,
select:focus,
textarea.form-control:focus {
    box-shadow: none;
    border-color: #f83f37;
    outline: 0;
    box-shadow: none
}

textarea.form-control {
    height: 6.25rem
}

.input-icon {
    position: relative;
}

.input-icon input {
    padding: 20px 20px 20px 50px;
}

.input-icon span {
    position: absolute;
    text-align: center;
    top: 27%;
    left: 5%;
    font-size: 1rem;
}
.input-icon span i{
    font-size: 1.2rem;
}


.styled-checkbox {
    position: absolute;
    opacity: 0;
}

.styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
}

.styled-checkbox + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: white;
    border: 1px solid #23b7e5;
}

/*.styled-checkbox:hover + label:before {
  background: #23b7e5;
}*/
.styled-checkbox:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.styled-checkbox:checked + label:before {
    background: #23b7e5;
}

.styled-checkbox:disabled + label {
    color: #b8b8b8;
    cursor: auto;
}

.styled-checkbox:disabled + label:before {
    box-shadow: none;
    background: #ddd;
}

.styled-checkbox:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 11px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.m-0 {
    margin: 0
}

.m-t-10 {
    margin-top: .625rem
}

.m-t-20 {
    margin-top: 1.25rem
}

.m-t-30 {
    margin-top: 1.875rem
}

.m-t-40 {
    margin-top: 2.5rem
}

.m-t-50 {
    margin-top: 3.125rem
}

.m-t-b-50 {
    margin: 3.125rem 0
}

.p-0 {
    padding: 0
}

.p-20 {
    padding: 1.25rem
}

.p-30 {
    padding: 1.875rem
}

.p-t-20 {
    padding-top: 1.25rem
}

.p-t-30 {
    padding-top: 1.875rem
}

.p-t-40 {
    padding-top: 2.5rem
}

.p-t-50 {
    padding-top: 3.125rem
}

.p-t-b-50 {
    padding: 3.125rem 0
}

.sec-gap {
    padding: 6.25rem 0
}

.sec-gap_50 {
    padding: 3.125rem 0
}

img {
    max-width: 100%
}

.d-v-center {
    display: flex;
    align-items: center
}

/*grid*/
.grid-2 {
    display: grid;
    grid-template-columns: auto auto;
}

.grid-3 {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-4 {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.wrapper {
    /*min-height: calc(100vh - 72px);*/
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 7% 93%;
    position: fixed;
}

.projects.wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 15% 85%;
}

/*login*/

.login-wrapper{
    position: fixed;
    background-color: #fff;
}
.login-set {
   padding: 8rem 5rem;
    height: 100%;
    box-shadow: -10px 1px 13px rgba(0,0,0,0.5);
}
.login-set div {
    animation: fadein 0.5s;
    -moz-animation: fadein 0.5s; 
    -webkit-animation: fadein 0.5s;
    -o-animation: fadein 0.5s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
.login-banner{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.login-banner img {
    width: 100%;
    height: 100vh;
}
.signup-set {
    display: inline-block;
    align-content: baseline;
    background-color: #ffff;
    border-radius: 0px;
    border: 1px solid #ccc;
}

.signup-set label {
    font-size: 14px;
}
.con-pass{
    position: absolute;
    width: 30rem;
    background-color: #fff;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 30px 3px rgba(0,0,0,0.5);
}
/* hedaer */
.theme_header {
    background: #fff;
    position: relative;
}

.nav-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 15px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
}

.logo img {
    width: 100px;
}
svg.p-plant path, svg.p-plant rect{
    animation: colorChange 3s infinite;
}
@keyframes colorChange {
    0%{fill:#333}
    50%{fill:#f15836}
    100%{fill: #7b2f74}
}


nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li a {
    color: #000;
    padding: 10px 10px;
    text-transform: capitalize;
    text-decoration: none;
    position: relative;
}

nav ul li {
    position: relative;
}

.l-nav li a.btn{
    padding: 8px 15px;
}

/*dropdown*/
.dropdown-menu {
    padding: 0;
    min-width: 212px;
    background: #FFF;
    right: 0;
    left: unset;
    margin: 0;
    border: 0;
    border-radius: 5px;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5) !important;
    top: 50px;
    animation: fadein 0.5s;
    -moz-animation: fadein 0.5s;
    -webkit-animation: fadein 0.5s;
    -o-animation: fadein 0.5s;
}

.dropdown-menu li > a {
    display: block;
    padding: 16px 15px;
    text-transform: capitalize;
    color: #565656;
    border-bottom: 1px solid #cccccc;
    text-decoration: none;
}

.dropdown-menu li > a:hover {
    background-color: #E8EAED;
}

.dropdown-menu li a > i {
    color: #ff3b00;
    margin-right: 5px;
}

.dropdown-menu li:last-child > a {
    border-bottom: none;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@-moz-keyframes fadein {

    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@-webkit-keyframes fadein {

    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@-o-keyframes fadein {

    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.dropdown-menu:after {
    position: absolute;
    top: -7px;
    right: 20px;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 7px 7px;
    border-color: transparent transparent #FFF transparent;
}

/*side-nav*/
.sidebar {
    /*background-color: #495057;
    background-image: linear-gradient(to bottom, #65737e 40%, #343d46 99%);*/
    background-image: url(../img/vrt-menu.png);
    
}

.sidebar .main-menu ul li {
    position: relative;
    cursor: pointer;
}

.sidebar .main-menu ul li.active a {
    color: #9ce0fb;
}

.sidebar .main-menu ul li i {
    font-size: 22px;
    line-height: 42px;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    margin-bottom: 7px;
    transition: all 0.3s ease-in;
}

.sidebar .main-menu ul li:hover i {
    background-color: rgba(255,255,255,1);
    color: #047BCF;
    transition: all 0.3s ease-in;
    animation: zoominoutsinglefeatured 1s ;
}
@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.2,1.2);
    }
    100% {
        transform: scale(1,1);
    }
}


.sidebar .main-menu ul li a {
    font-size: 12px;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    border-bottom: 1px solid #fff;
    color: #fff;
    -webkit-transition: color .3s;
    transition: color .3s;
    -webkit-transition: background .3s;
    transition: background .3s;
    cursor: pointer;
}

.projects .sidebar .main-menu ul li a {
    font-size: 12px;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: inherit;
    align-items: center;
    flex-direction: unset;
    font-style: normal;
    font-weight: 400;
    border-bottom: 1px solid #fff;
    color: #fff;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.projects .sidebar .main-menu ul li a i {
    margin-left: 10px;
    margin-right: 10px;
}


.sidebar .main-menu ul li:last-child a {
    border-bottom: none;
}
.sidebar .main-menu ul li a:active,
.sidebar .main-menu ul li a:hover,
.sidebar .main-menu ul li a:focus{
    color: #fff;
    background: rgba(7,69,73,.8);
}
.sidebar .main-menu ul li.active:after {
    content: " ";
    background: #9ce0fb;
    position: absolute;
    width: 3px;
    height: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
}
.rpsg{
   /* background-color: #fff;*/
    position: absolute;
    bottom: 12%;
    left: 4px;
    padding: 10px;
    width: 89px;
}
.content {
    overflow-y: auto;
    padding: 1rem 1rem 6rem 1rem;
}
/*right-panel-content*/
.app-content {
    overflow: hidden;
}

.right-panel-contents {
    position: absolute;
    background-color: #495057;
    background-image: linear-gradient(to bottom, #65737e 40%, #343d46 99%);
    height: 100%;
    padding: 1rem 1rem 6rem 1rem;
    width: 20rem;
    right: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.right-panel-contents::-webkit-scrollbar {
    background-color: #fff;
    width: 16px
}

.right-panel-contents::-webkit-scrollbar-track {
    background-color: #fff
}

.right-panel-contents::-webkit-scrollbar-track:hover {
    background-color: #f4f4f4
}

.right-panel-contents::-webkit-scrollbar-thumb {
    background-color: #9ce0fb;
    border-radius: 16px;
    border: 5px solid #fff
}

.right-panel-contents::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a5;
    border: 4px solid #f4f4f4
}

.right-panel-contents::-webkit-scrollbar-button {
    display: none
}
/*dashboard*/
.dash-svg{
    position: absolute;
    right: 10px;
    bottom: 10px;
    fill:#fff;
    width: 70px;
}


/*branding*/

/*branding-app-container*/
.branding-app-container {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    background-color: #fff;
}

.app-container h4 {
    display: block;
    background-color: #575757;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-right: 1px solid #fff;
}

.app-container:last-child h4 {
    border-right: none;
}

.mob-frame-v {
    position: relative;
}

.app-icon {
    position: absolute;
    top: 50%;
    left: 43%;
}

.app-icon img {
    width: 48px;
    height: 48px;
}

.app-splash_screen img {
    position: absolute;
    top: 6%;
    left: 98px;
    width: 236px;
}

.scr-opt-toggel {
    font-size: 16px;
    font-weight: 500;
    padding: 8px 30px;
    display: inline-block;
    transition: 0.5s;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #83b81a;
    color: #fff;
    position: fixed;
    right: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg) scale(1.02);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform-origin: 51% -200%;
}

.scr-opt-toggel:hover {
    color: #fff;
}

/*scroll-bar */
.screen-opt::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.screen-opt::-webkit-scrollbar {
    width: 7px;
    background-color: #F5F5F5;
}

.screen-opt::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #ccc;
}

.screen-opt {
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
    background-color: #dee2e6;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    right: -300px;
    transition: 0.5s;
}

.screen-opt.open {
    right: 0px;
    transition: 0.5s;
}

.screen-opt .top-head {
    background-color: #495057;
    background-image: linear-gradient(to bottom, #65737e 40%, #343d46 99%);
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    align-items: center;
}

.screen-opt input {
    background-color: #fff;
}

.add-on-scn {
    background-color: #87929d;
}


/*play*/
.app-dl-center .alert {
    margin-bottom: 0;
    border-radius: 0;
}

.app-dl-component > .grid-4 {
    background-color: #fff;
    padding: 10px;
    grid-gap: 20px;

}

.app-dl-component > .grid-4 .item-dl img {
    width: 100%;
}

.app-dl-component > .grid-4 .item-dl {
    width: 300px;
    height: 200px;
}

.build-d.grid-4 {
    grid-gap: 20px;
}

.build-d li {
    text-align: center;
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #0A184E;
}


/*model*/

.theme-model {}

.theme-model .modal-content {
    border: 2px solid #9ce0fb;
    border-radius: 0;
    outline: 0;
}

.theme-model .modal-header {
    background-color: #495057;
    background-image: linear-gradient(to bottom, #65737e 40%, #343d46 99%);
    color: #fff;
    border-radius: 0;
}

.theme-model .close {
    background-color: #dc3545;
    background-image: linear-gradient(to bottom, #ec5f67 40%, #b82d35);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    opacity: 1;
    color: #fff;
    font-weight: 500;
    text-shadow: none;
    padding: 0.6rem 1rem;
    transform: translateY(7px);
}

button.close:hover i.icons {
    display: inline-block;
    -webkit-animation: spin 0.3s linear;
    -moz-animation: spin 0.3s linear;
    animation: spin 0.3s linear;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/*project*/
.project-grid.grid-3 {
    grid-gap: 20px;
}

.project-grid .main-content {
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 10px;
    transition: .3s;
}

.project-grid .main-content:hover {
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.4);
    transition: .3s;
}

.img-wrap-inner {
    width: 330px;
    height: auto;
    overflow: hidden;
}

.img-wrap-inner img {
    width: 100%;
    height: 100%;
}

.article-info .date {
    font-size: 12px;
    font-weight: 500;
    display: inline-block;
}

.project-grid .main-content footer {
    border-top: 1px solid #dee2e6;
}

.project-footer-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.project-footer-nav li a {
    font-size: 14px;
    padding: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    border-bottom: 1px solid #fff;
    color: #000;
}

.project-footer-nav li a i {
    margin-bottom: 5px;
}

.project-footer-nav li a:hover {
    color: #007bff;
}

.project-footer-nav li:last-child:hover a {
    color: #dc3545;
}

.add-project-btn {
    position: fixed;
    right: -17px;
    bottom: 50px;
    z-index: 999;
    font-size: 16px;
    background-image: linear-gradient(to bottom, #8241f9, #4e277b);
    border: none;
    color: #fff;
    transition: 0.3s ease-in-out;
    font-weight: 400;
    padding: 8px 30px;
    display: inline-block;
}

a.add-project-btn:hover {
    background-color: #067CC4;
    color: #fff;
}

a.add-project-btn:hover .icons {
    display: inline-block;
    animation: spin 0.3s linear;
}

.error {
    color: red;
}


/*side-Scenes-tab*/
[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

.side-scenes-tab {
    width: 265px;
    border-left: 1px solid #000;
    padding: 10px;
    background-color: #C7CBD2;
    height: 100vh;
    overflow-x: hidden;
    float: left;
    overflow-y: scroll;
}

.scenes-list ul li {
    margin-bottom: 10px;
}

.scenes-list ul li .dndcontent {
    width: 230px;
    height: 150px;
    border: 1px solid #333;
    overflow: hidden;
    position: relative;
}

.scenes-list ul li .dndcontent a span.trash {
    position: absolute;
    bottom: 12px;
    z-index: 9;
    right: 12px;
}

.scenes-list ul li .dndcontent a span.edit {
    position: absolute;
    right: 44px;
    bottom: 12px;
}

.scenes-list ul li img {
    width: 100%;
    height: 100%;
}

.column.dragElem {
    opacity: 0.4;
}

.column.over {
    border: 2px solid #bd2130;
}

/*vr-screen-opt*/
.vr-screen-opt {
    color: #fff;
    border-top: 1px solid #fff;
    margin-top: 10px;
    /*overflow-y: scroll;*/
}

.toggel-tool {
    background-color: #495057;
    padding: 6px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 1px 1px rgba(255, 255, 255, 0.2);
}

.target {
    display: none;
}

.toggle:after,
.toggle1:after,
.toggle2:after,
.toggle3:after {
    font-family: FontAwesome;
    content: "\f0d7";
    right: 5%;
    position: absolute;
}

.target hr {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.target input {
    background-color: #fff;
}

/*range-slider*/

.range {
    -webkit-appearance: none;
    vertical-align: middle;
    outline: none;
    border: none;
    padding: 0;
    background: none;
}

.range::-webkit-slider-runnable-track {
    background-color: #d7dbdd;
    height: 6px;
    border-radius: 3px;
    border: 1px solid transparent;
}

.range[disabled]::-webkit-slider-runnable-track {
    border: 1px solid #d7dbdd;
    background-color: transparent;
    opacity: 0.4;
}

.range::-moz-range-track {
    background-color: #d7dbdd;
    height: 6px;
    border-radius: 3px;
    border: none;
}

.range::-ms-track {
    color: transparent;
    border: none;
    background: none;
    height: 6px;
}

.range::-ms-fill-lower {
    background-color: #d7dbdd;
    border-radius: 3px;
}

.range::-ms-fill-upper {
    background-color: #d7dbdd;
    border-radius: 3px;
}

.range::-ms-tooltip {
    display: none;
    /* display and visibility only */
}

.range::-moz-range-thumb {
    border-radius: 20px;
    height: 18px;
    width: 18px;
    border: none;
    background: none;
    background-color: #606670;
}

.range:active::-moz-range-thumb {
    outline: none;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border-radius: 100%;
    background-color: #606670;
    height: 18px;
    width: 18px;
    margin-top: -7px;
}

.range[disabled]::-webkit-slider-thumb {
    background-color: transparent;
    border: 1px solid #d7dbdd;
}

.range:active::-webkit-slider-thumb {
    outline: none;
}

.range::-ms-thumb {
    border-radius: 100%;
    background-color: #606670;
    height: 18px;
    width: 18px;
    border: none;
}

.range:active::-ms-thumb {
    border: none;
}

output {
    border: 1px solid #d7dbdd;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    padding: .4em .6em;
    border-radius: 3px;
        width: 40px;
    height: 30px;
}

/*drop-down*/
input[type="file"] {
    display: none;
}

#file-drag {
    border: 2px dashed #555;
    border-radius: 7px;
    color: #555;
    cursor: pointer;
    display: block;
    margin: 1em 0;
    padding: 3em;
    text-align: center;
    transition: background 0.3s, color 0.3s;
}

#file-drag:hover {
    background: #ddd;
}

#file-drag:hover,
#file-drag.hover {
    border-color: #3070a5;
    border-style: solid;
    box-shadow: inset 0 3px 4px #888;
    color: #3070a5;
}

#file-progress {
    display: none;
    margin: 1em auto;
    width: 100%;
}

#file-upload-form {
    margin: auto;
    width: 40%;
}

progress {
    appearance: none;
    background: #eee;
    border: none;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    height: 30px;
}

progress[value]::-webkit-progress-value {
    background: -webkit-linear-gradient(-45deg,
            transparent 33%,
            rgba(0, 0, 0, 0.2) 33%,
            rgba(0, 0, 0, 0.2) 66%,
            transparent 66%),
        -webkit-linear-gradient(right, #005f95, #07294d);
    background: linear-gradient(-45deg,
            transparent 33%,
            rgba(0, 0, 0, 0.2) 33%,
            rgba(0, 0, 0, 0.2) 66%,
            transparent 66%),
        linear-gradient(right, #005f95, #07294d);
    background-size: 60px 30px, 100% 100%, 100% 100%;
    border-radius: 3px;
}

progress[value]::-moz-progress-bar {
    background: -moz-linear-gradient(-45deg,
            transparent 33%,
            rgba(0, 0, 0, 0.2) 33%,
            rgba(0, 0, 0, 0.2) 66%,
            transparent 66%),
        -moz-linear-gradient(right, #005f95, #07294d);
    background: linear-gradient(-45deg,
            transparent 33%,
            rgba(0, 0, 0, 0.2) 33%,
            rgba(0, 0, 0, 0.2) 66%,
            transparent 66%),
        linear-gradient(right, #005f95, #07294d);
    background-size: 60px 30px, 100% 100%, 100% 100%;
    border-radius: 3px;
}

    .cordinates li input{
    border: 1px solid #d7dbdd;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    padding: .4em .6em;
    border-radius: 3px;
}

/*table*/
.table{
    background-color: #fff;
}
.table thead th{
    font-size: 14px;
    padding: 1rem 0.9375rem;
    border: 1px solid #fff;
    background-color: #1ebccd;
    color: #fff;
    text-transform: capitalize;
}
.table thead th:nth-child(1){
    border-top-left-radius: 10px;
}
.table thead th:last-child{
    border-top-right-radius: 10px;
}
.table td{
    font-size: 13px;
    border: 1px solid #86cfda;
}
