
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <title>NPCL : NOIDA POWER COMPANY LIMITED</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <meta name="description" content="NPCL: A basic template for a responsive multi-level menu" />
   <meta name="keywords" content="Noida Power Copmpany Limited, Greater Noida Power Distribution, Greater Noida, Power Distribution Company in india, India, Power Distribution, Power" />
   <meta name="author" content="NPCL" />
   <link rel="shortcut icon" href="/favicon.png">
   <!--Morris Chart CSS -->
   <link rel="stylesheet" href="/javascripts/plugins/morris/morris.css">
   <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
   <link href="/stylesheets/icons.css" rel="stylesheet" type="text/css">
   <link href="/stylesheets/metisMenu.min.css" rel="stylesheet" type="text/css">
   <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
   <link href="/stylesheets/toastr.css" rel="stylesheet" type="text/css">
   <!-- <link href="/stylesheets/dropify.min.css" rel="stylesheet" type="text/css"> -->
   <link rel='stylesheet' href='/stylesheets/jquery-ui.css'>
